<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>AccessLog</filter-name>
        <filter-class>ru.ncedu.logistics.filter.AccessLog</filter-class>
    </filter>

    <servlet>
        <servlet-name>TownDispatcher</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.dispatcher.TownDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TownDispatcher</servlet-name>
        <url-pattern>/towns/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllTownsServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.GetAllTownsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTownServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.GetTownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTownServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.CreateTownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTownServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.EditTownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTownServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.DeleteTownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOfficesInTownServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.town.GetOfficesInTownServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductDispatcher</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.dispatcher.ProductDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.GetAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.CreateProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OfficeDispatcher</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.dispatcher.OfficeDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOfficeServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.office.GetOfficeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOfficeServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.office.EditOfficeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOfficeServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.office.DeleteOfficeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOfficeServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.office.CreateOfficeServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>OfferingDispatcher</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.dispatcher.OfferingDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOfferingServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.offering.CreateOfferingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOfferingServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.offering.DeleteOfferingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOfferingServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.offering.EditOfferingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOfferingsServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.offering.SearchOfferingsServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GetOfficeJson</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.office.GetOfficeJson</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RoadDispatcher</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.dispatcher.RoadDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoadsServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.road.SearchRoadsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoadServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.road.CreateRoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoadServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.road.EditRoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoadServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.road.DeleteRoadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogisticsServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.product.LogisticsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InitTestDataServlet</servlet-name>
        <servlet-class>ru.ncedu.logistics.servlet.testdata.InitTestDataServlet</servlet-class>
    </servlet>
    
    <filter-mapping>
        <filter-name>AccessLog</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>


    <servlet-mapping>
        <servlet-name>GetAllTownsServlet</servlet-name>
        <url-pattern>/GetAllTownsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTownServlet</servlet-name>
        <url-pattern>/GetTownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOfficesInTownServlet</servlet-name>
        <url-pattern>/GetOfficesInTownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTownServlet</servlet-name>
        <url-pattern>/CreateTownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTownServlet</servlet-name>
        <url-pattern>/EditTownServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductDispatcher</servlet-name>
        <url-pattern>/products/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTownServlet</servlet-name>
        <url-pattern>/DeleteTownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <url-pattern>/GetAllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>OfficeDispatcher</servlet-name>
        <url-pattern>/offices/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOfficeServlet</servlet-name>
        <url-pattern>/CreateOfficeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOfficeServlet</servlet-name>
        <url-pattern>/DeleteOfficeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOfficeServlet</servlet-name>
        <url-pattern>/EditOfficeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOfficeServlet</servlet-name>
        <url-pattern>/GetOfficeServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>OfferingDispatcher</servlet-name>
        <url-pattern>/offerings/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOfferingServlet</servlet-name>
        <url-pattern>/CreateOfferingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOfferingServlet</servlet-name>
        <url-pattern>/DeleteOfferingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOfferingServlet</servlet-name>
        <url-pattern>/EditOfferingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOfferingsServlet</servlet-name>
        <url-pattern>/SearchOfferingsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GetOfficeJson</servlet-name>
        <url-pattern>/GetOfficeJson</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RoadDispatcher</servlet-name>
        <url-pattern>/roads/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoadsServlet</servlet-name>
        <url-pattern>/SearchRoadsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoadServlet</servlet-name>
        <url-pattern>/CreateRoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoadServlet</servlet-name>
        <url-pattern>/EditRoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoadServlet</servlet-name>
        <url-pattern>/DeleteRoadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogisticsServlet</servlet-name>
        <url-pattern>/logistic</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InitTestDataServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
</web-app>